@IMPORT url("listGrid.css");
@IMPORT url("centerPane.css");
@IMPORT url("historyGrid.css");
@IMPORT url("treeGrid.css");

.balancedTopPanel {
	height: 30px;
	 text-align: center;
	 font-size: 20px;
}
