.dgrid.listTable {
	height: 100%;
	width: 100%;
}

.listTable .dgrid-row-table {
	height: auto;
}

.listTable .field-name {
	width: 160px;
}

.listTable .field-creationDate {
	width: 60px;
}

.listTable .field-temporal {
	width: 160px;
}

.listTable .field-itemId {
	width: 40px;
}

.balancedTableToolbar {
	height: 20px;
	width: 100px;
}

.balancedFilter {
	width: 200px;
}

.listGridTable {
	width: 100%;
	height: 100%;
}


