.dgrid.taskTable {
	height: 100%;
	width: 100%;
}

.taskTable .dgrid-row-table {
	height: auto;
}

.taskTable .field-name {
	width: 160px;
}

.balancedTableToolbar {
	height: 20px;
	width: 100px;
}

.balancedFilter {
	width: 200px;
}

.taskGridTable {
	width: 100%;
	height: 100%;
}


