.dgrid.taskTable {
	height: 100%;
	width: 100%;
}

.taskTable .dgrid-row-table {
	height: auto;
}

.taskTable .field-name {
	width: 160px;
}

.balanced_table_toolbar {
	height: 20px;
}


.taskGridTable {
	width: 100%;
	height: 100%;
}