<div>
	<table class='listGridTable'>
		<tr>
			<td class="balancedTableToolbar"><div  data-dojo-attach-point="addRowInListButtonDiv"></div></td>
			<td class="balancedFilter"><div data-dojo-attach-point="filterByTagDiv"></div></td>
			<td><div data-dojo-attach-point="removeRowButtonDiv"></div></td>
			<td><div data-dojo-attach-point="markAsDoneButtonDiv"></div></td>
		</tr>
		<tr><td colspan=4><div class="listTable" data-dojo-attach-point="listGridDiv"></div>
		</td>
		</tr>
	</table>
</div>
