<div>
	<table class='taskGridTable'>
		<tr>
			<td class="balancedTableToolbar"><div  data-dojo-attach-point="addTaskRowButtonDiv"></div></td>
			<td class="balancedFilter"><div data-dojo-attach-point="filterByTagDiv"></div></td>
			<td><div data-dojo-attach-point="removeRowButtonDiv"></div></td>
			<td><div data-dojo-attach-point="markAsDoneButtonDiv"></div></td>
		</tr>
		<tr><td colspan=4><div class="taskTable" data-dojo-attach-point="taskGridDiv"></div>
		</td>
		</tr>
	</table>
</div>
